/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

// css
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  .more-information-section-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;
  }

  .more-info-link {
   width: 80%;
   border: none;
   background-color: $accent;
   color: #fff;
  }
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  .main-header {
    height: auto;
  }

  .services-list {
    margin-right: -185px;
    z-index: 1;
    border-right: none;
    font-size: 1.5em;
    color: $accent;
  }

 .more-information-section-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;
  }

  .more-info-link {
   width: 80%;
   border: none;
   background-color: $accent;
   color: #fff;
  }

  .animated-arrow {
    top: 100%;
    z-index: 5;
  }

  .header-caption {
    top: 40%;
  }

  .book-now-block {
    bottom: 50px;
    right: 20px;
  }

  .main-info {
    top: 300px;
  }

   main {
    margin-bottom: 140px;
  }

  .virtues-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 5px;
  }

  // Sugaring Page

  .service-section {
    flex-direction: column;
  }

  .about-service {
    width: 100%;
  }
  

  .massage-page .services-list,
  .sugaring-page .services-list {
    display: none;
  }

  .price-list-sugaring  {
    right: 20px;
    padding-left: 10px;
  }

  .man-sugaring .price-list-sugaring {
   text-align: right;
   padding-right: 10px;
   left: 20px;
  }

  // Nails Page


  .nails-price .price-list {
    background-color: rgba(255,255,255,.8);
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

//css

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .main-header {
    height: auto;
  }

  .logo-block {
    font-size: 1em;
    white-space: nowrap;
    margin-bottom: 40px;
  }
  
  .top-menu {
    padding: 30px 0;
  }

  .main-menu-btn,
  .contucts-block {
    margin-top: 50px;
  }

  .main-menu-btn {
    margin-right: 10px;
  }
  
  .contucts-phone {
    white-space: nowrap;
    margin-left: 10px;
    font-size: .6em;
  }

  .contucts-address {
    font-size: .8em;
  }

  .header-caption {
    top: 60%;
  }

  .header-title {
    font-size: 2em;
  }

  .header-image {
    width: 100%;
    height: auto;
  }

  .massage-section, 
  .nail-section, 
  .sugaring-section {
    flex-direction: column;
  }

  .sugaring-section {
    flex-direction: column-reverse;
    .main-info-title-description {
      text-align: center;
      margin: 50px 0;
    }
  }

  .main-info {
    top: 100px;
  }

  .main-info-title {
    font-size: 2em;
    color: $accent;
  }

  .more-information-section-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .main-info-title-description {
    text-align: center;
    margin: 50px 0;
  }

  .more-info-link {
    border: 3px solid $accent;
    margin: 0 10px;
  }

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .main-header {
    height: auto;
  }

  .logo-block {
    font-size: .8em;
    white-space: nowrap;
    margin-bottom: 40px;
  }
  
  .top-menu {
    padding: 30px 0;
  }

  .main-menu-btn,
  .contucts-block {
    margin-top: 50px;
  }

  .main-menu-btn {
    margin-right: 10px;
  }
  
  .toggle-btn {
    margin-left: 32px;
  }

  .main-nav-list {
    margin-top: 50px;
  }

  .nav-link {
    font-size: .6em;
  }

  .contucts-phone {
    white-space: nowrap;
    margin-left: 10px;
    font-size: .6em;
  }

  .contucts-address {
    font-size: .8em;
    bottom: 40px;
  }

  .animated-arrow {
    top: 92%;
    font-size: 1.3em;
  }

  .header-caption {
    top: 60%;
  }

  .header-title {
    font-size: 1.5em;
  }

  .header-image {
    width: 100%;
    height: auto;
  }

  .virtues-list {
    flex-direction: column;
  }

  .virtues-list-item {
    margin: 10px;
  }

  .massage-section, 
  .nail-section, 
  .sugaring-section {
    flex-direction: column;
  }

  .sugaring-section {
    flex-direction: column-reverse;
    .main-info-title-description {
      text-align: center;
      margin: 50px 0;
    }
  }

  .main-info {
    top: 833px;
  }

  .fixed-info {
    top: 200px;
  }

  .main-info-title {
    font-size: 1.3em;
    background-color: rgba(255, 255, 255, .5);
    padding: 10px;
  }

  .more-information-section-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .main-info-title-description {
    text-align: center;
    margin: 50px 0;
  }

  .more-info-link {
    border: 3px solid $accent;
    margin: 0 10px;
  }

  main {
    margin-bottom: 140px;
  }

  .book-now-block {
    right: 0;
    font-size: .5em;
    padding: 12px;
  }

    // Sugaring Page

  .service-section {
    flex-direction: column;
  }

  .about-service {
    width: 100%;
  }
  
  .massage-page .services-list,
  .sugaring-page .services-list {
    display: none;
  }

  .sugaring-price {
    flex-direction: column;

  }

  .price-list-sugaring  {
    position: relative;
    margin: 30px 10px 0 10px;
    padding: 0;
    right: 0;
    left: 0;
    text-align: center;
    border: 4px solid $accent;
  }

  .man-sugaring  {
    flex-direction: column-reverse;
  }
  
  .price-list,
  .man-sugaring .price-list-sugaring {
    margin: 30px 10px 0 10px;
    padding: 0;
    right: 0;
    left: 0;
    text-align: center;
    border: 4px solid $accent;
  }

  // Massage Page

  .massage-main-content .page-title {
    font-size: 1em;
    text-align: center;
    padding-left: 0;
  }

  .price-section {
    flex-direction: column;
  }

  .price-list {
    position: relative;
    left: 0;
    top: 0;
    width: auto;

  }

   .nails-price .price-list {
    order: 1;
  }

  .nails-price .price-image {
    order: 2;
  }

  .nails-price .price-title {
    order: -1;
  }

}